<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>634920642002-bfqg44tgbfslrrqlbcfbqctf60e3bp7f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.634920642002-bfqg44tgbfslrrqlbcfbqctf60e3bp7f</string>
	<key>API_KEY</key>
	<string>AIzaSyBLNeaPNgvwMbQ7rscLCr2380vN1M-1Auc</string>
	<key>GCM_SENDER_ID</key>
	<string>634920642002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.proj07</string>
	<key>PROJECT_ID</key>
	<string>flutter-a-z-05</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-a-z-05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:634920642002:ios:2d01c5377c78e45db3540b</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-a-z-05-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>